# **Exercícios**

## 1\. Pinguins

Neste exercício, vamos utilizar uma base de dados com informações sobre penguins. A idéia é preparar a base de dados para prever a espécie do penguin (variável resposta) baseado em suas características físicas e geográficas (variáveis preditivas).

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('penguins')

In [3]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### **1.1. Valores nulos**

A base de dados possui valores faltantes, utilize os conceitos da aula para trata-los.

In [4]:
data_cleaned = data.dropna()

In [5]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB

### **1.2. Variáveis numéricas**

Identifique as variáveis numéricas e crie uma nova coluna **padronizando** seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_std*".

> **Nota**: Você não deve tratar a variável resposta.

In [6]:
media = data_cleaned['bill_length_mm'].mean()
desvio_padrao = data_cleaned['bill_length_mm'].std()
data_cleaned['bill_length_mm_padr'] = data_cleaned['bill_length_mm'].apply(
 lambda nota: (nota - media) / desvio_padrao
)

<ipython-input-6-111c591ea4de>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['bill_length_mm_padr'] = data_cleaned['bill_length_mm'].apply(

In [7]:
media = data_cleaned['bill_depth_mm'].mean()
desvio_padrao = data_cleaned['bill_depth_mm'].std()
data_cleaned['bill_depth_mm_padr'] = data_cleaned['bill_depth_mm'].apply(
 lambda nota: (nota - media) / desvio_padrao
)

<ipython-input-7-810b6e497150>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['bill_depth_mm_padr'] = data_cleaned['bill_depth_mm'].apply(

In [8]:
media = data_cleaned['flipper_length_mm'].mean()
desvio_padrao = data_cleaned['flipper_length_mm'].std()
data_cleaned['flipper_length_mm_padr'] = data_cleaned['flipper_length_mm'].apply(
 lambda nota: (nota - media) / desvio_padrao
)

<ipython-input-8-6a4a3abe4feb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['flipper_length_mm_padr'] = data_cleaned['flipper_length_mm'].apply(

In [9]:
media = data_cleaned['body_mass_g'].mean()
desvio_padrao = data_cleaned['body_mass_g'].std()
data_cleaned['body_mass_g_padr'] = data_cleaned['body_mass_g'].apply(
 lambda nota: (nota - media) / desvio_padrao
)

<ipython-input-9-c7f954b6866b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['body_mass_g_padr'] = data_cleaned['body_mass_g'].apply(

### **1.3. Variáveis categóricas**

Identifique as variáveis categóricas nominais e ordinais, crie uma nova coluna aplicando a técnica correta de conversão a seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_nom*" ou "*_ord*".

> **Nota**: Você não deve tratar a variável resposta.

In [10]:
data_cleaned.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [11]:
data_cleaned['island_torgersen_nom'] = data_cleaned['island'].apply(lambda sex: 1 if sex == 'Torgersen' else 0)
data_cleaned['island_biscoe_nom'] = data_cleaned['island'].apply(lambda sex: 1 if sex == 'Biscoe' else 0)
data_cleaned['island_dream_nom'] = data_cleaned['island'].apply(lambda sex: 1 if sex == 'Dream' else 0)

<ipython-input-11-755878e01fe8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['island_torgersen_nom'] = data_cleaned['island'].apply(lambda sex: 1 if sex == 'Torgersen' else 0)
<ipython-input-11-755878e01fe8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['island_biscoe_nom'] = data_cleaned['island'].apply(lambda sex: 1 if sex == 'Biscoe' else 0)
<ipython-input-11-755878e01fe8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['island_dream_nom'] = data_cleaned['island'].apply(lambda sex: 1 if sex == 'Dream' else 0)

In [12]:
data_cleaned['sex_m_nom'] = data_cleaned['sex'].apply(lambda sex: 1 if sex == 'Male' else 0)
data_cleaned['sex_f_nom'] = data_cleaned['sex'].apply(lambda sex: 1 if sex == 'Female' else 0)

<ipython-input-12-860cc3d156b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['sex_m_nom'] = data_cleaned['sex'].apply(lambda sex: 1 if sex == 'Male' else 0)
<ipython-input-12-860cc3d156b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['sex_f_nom'] = data_cleaned['sex'].apply(lambda sex: 1 if sex == 'Female' else 0)

### **1.4. Limpeza**

Descarte as colunas originais e mantenha apenas a variável resposta e as variáveis preditivas com o sufixo *_std*", *_nom*" e "*_ord*".

In [14]:
df = data_cleaned[['species',
                  'island_torgersen_nom',
                  'island_biscoe_nom',
                  'island_dream_nom',
                  'bill_depth_mm_padr',
                  'bill_depth_mm_padr',
                  'flipper_length_mm_padr',
                  'body_mass_g_padr',
                  'sex_m_nom',
                  'sex_f_nom']]
df

,species,island_torgersen_nom,island_biscoe_nom,island_dream_nom,bill_depth_mm_padr,bill_depth_mm_padr,flipper_length_mm_padr,body_mass_g_padr,sex_m_nom,sex_f_nom
0,Adelie,1,0,0,0.779559,0.779559,-1.424608,-0.567621,1,0
1,Adelie,1,0,0,0.119404,0.119404,-1.067867,-0.505525,0,1
2,Adelie,1,0,0,0.424091,0.424091,-0.425733,-1.188572,0,1
4,Adelie,1,0,0,1.084246,1.084246,-0.568429,-0.940192,0,1
5,Adelie,1,0,0,1.744400,1.744400,-0.782474,-0.691811,1,0
...,...,...,...,...,...,...,...,...,...,...
338,Gentoo,0,1,0,-1.759497,-1.759497,0.929884,0.891616,0,1
340,Gentoo,0,1,0,-1.454811,-1.454811,1.001232,0.798473,0,1
341,Gentoo,0,1,0,-0.743875,-0.743875,1.500670,1.916186,1,0
342,Gentoo,0,1,0,-1.200905,-1.200905,0.787187,1.233139,0,1
343,Gentoo,0,1,0,-0.540750,-0.540750,0.858536,1.481520,1,0

---